body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-image: url("bg.svg");
}

.container {
	width: auto;
	margin: 0 auto;
}

.header {
	background-color: #eee;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.content {
	padding: 20px;
}

.footer {
	background-color: #eee;
	padding: 20px;
	border-top: 1px solid #e5e5e5;
}

.recommendation {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
#rcorners4 {
  border-radius: 15px;
  background: #B4AB9C;
  padding: 20px;
  width: auto;
  height: auto; 
} 
#rcornersclog {
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  width: 500px;
  height: auto; 
} 

p.big {
  font-size: 50px;
}
code.bg {
padding:2px 4px;
font-size:90%;
color:#c7254e;
background-color:#f9f2f4;
border-radius:4px;
font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}

#demotext {
color: #202c2d;
background: #FFFFFF;
text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
color: #202c2d;
background: #FFFFFF;
}
